@media screen and (max-width: 988px) {
    #images-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 676px) {
    #images-grid {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 628px) {
    .utilities-bar {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 467px) {
    header {
        padding-left: 30px;
        padding-right: 30px;
    }
}

